header {
  width: 100%;
  height: 104px;
  z-index: 1000;
  opacity: 0.98;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

header .container {
  display: flex;
  height: 100%;
  padding: 2rem 4.8rem;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 180px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

header img:hover {
  transform: translateX(-2px);
}

.header-nav-menu {
  display: flex;
  align-items: center;
  gap: 2.1rem;
}

#nav-menu a {
  color: var(--black-900);
}

.header-nav-menu a:hover {
  opacity: 0.25;
}

/* header menu responsivo */
.menu-square {
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.menu-square img {
  height: 100%;
  transition: transform 0.5s ease;
}

.menu-square img:hover {
  transform: scale(1.35);
}

.header-nav-menu.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  z-index: 999;
}

.header-nav-menu.open a {
  padding: 1rem 2rem;
  text-align: center;
  color: var(--black-900);
}

.header-nav-menu.open a:hover {
  border-bottom: 1px solid var(--gray-25);
  opacity: 0.4;
}

.header-nav-menu.open .button-primary {
  margin: 1rem auto;
  display: block;
}

/* -- section home -- */
.s-hero-home {
  width: 100%;
  height: 90vh;
  background-image: url(../imgs/bg-home-2.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.s-hero-home .container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.wrapper-home {
  position: absolute;
  bottom: 200px;
  left: 15rem;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.text-content-home .span-home-h1 {
  font-weight: 400;
  opacity: 0.5;
}

.text-content-home .span-home-h2 {
  color: var(--gray-25);
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: var(--black-900);
}

.social-contact {
  display: flex;
  margin-left: 20rem;
  gap: 5rem;
}

.social-contact img {
  filter: grayscale(100%);
}

.social-contact img:hover {
  cursor: pointer;
  filter: brightness(100%);
}

.social-contact #logo-X:hover {
  filter: brightness(0.1);
}

/*-- section skills --*/
.s-hero-skills {
  height: 100vh;
  align-self: stretch;
}

.s-hero-skills .container {
  width: 100%;
}

.span-skills {
  font-weight: 400;
  opacity: 0.4;
}

.text-header-s-hero {
  width: 100%;
  display: flex;
  padding: 80px 0px;
  justify-content: center;
}

.wrapper-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  width: 100%;
  justify-items: center;
}

.card-skills {
  width: 210px;
  height: 210px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: ease 0.4s;
}

.card-skills img {
  filter: invert(80%);
}

.card-skills:hover {
  cursor: wait;
  background: var(--black-900);
  color: var(--gray-25);
  transform: scale(1.05);
}

/* -- section experience -- */
.s-hero-experience {
  min-width: 100%;
  height: 1200px;
  padding: 60px 80px;
  background-color: var(--black-900);
}

.sh-experience {
  color: var(--gray-25);
}

.wrapper-experience {
  display: flex;
  padding: 40px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.card-experience {
  display: flex;
  padding: 30px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  align-self: stretch;
  box-shadow: #000 0px 7px 29px 0px;
  transition: ease 0.4s;
  border-radius: 10px;
  border: 1px solid var(--black-800);
}

.card-experience:hover {
  cursor: wait;
  background-color: var(--gray-25);
  color: black;
}

.box-content-experience img {
  width: 100px;
}

.card-tertiary img {
  width: 50px;
}

.box-content-experience {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-900);
  padding: 10px 20px;
  border-radius: 10px;
}

.box-content-experience h3 {
  color: var(--gray-400);
}

.card-experience p {
  color: var(--gray-700);
}

.card-experience:hover p {
  color: var(--black-900);
}

/* -- section about-me -- */
.s-hero-about {
  display: flex;
  align-self: stretch;
  width: 100%;
  padding: 60px 0px;
}
.wrapper-about {
  display: flex;
  width: 100%;
  padding: 0px 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.wrapper-about img {
  height: 70%;
  border-radius: 42px;
  align-self: stretch;
}

.box-content-about {
  display: flex;
  width: 610px;
  height: 572px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  justify-items: center;
  justify-content: space-between;
}

.text-content-about h3 {
  margin-bottom: 20px;
}

/* -- section project -- */
.s-hero-project {
  width: 100%;
  background-color: var(--black-900);
  display: flex;
  padding: 60px 80px;
  flex-direction: column;
  /* align-items: flex-start;*/
}

.card-project {
  width: 100%;
  display: flex;
  padding: 30px 10px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  justify-content: space-between;
  box-shadow: #000 0px 7px 29px 0px;
  border-radius: 10px;
  border: 1px solid var(--black-800);
  margin: 20px 0;
  background-color: var(--black-400);
}

.card-project img {
  width: 300px;
  height: 250px;
  border-radius: 10px;
}

.card-project h1,
.card-project h3 {
  color: var(--gray-25);
}

.card-project p {
  color: var(--gray-700);
}

.card-project a {
  color: var(--gray-25);
  border-bottom: 1px solid var(--gray-25);
  transition: ease 0.4s;
}

.card-project a:hover {
  color: var(--gray-900);
  border-bottom: 1px solid var(--gray-900);
}

.box-content-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  align-self: stretch;
}

.box-content-project img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
